Tugas-5 Implementasi Ai Untuk Keuangan.json
{
  "name": "Tugas-5 Implementasi Ai Untuk Keuangan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        240
      ],
      "id": "9a904372-2f6b-46e9-b959-aa7d0b18245a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "hello\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1232,
        112
      ],
      "id": "5f00518b-dd3e-463f-9b1e-c5fe86b95487",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "chatId": "=6694078886",
        "text": "=={{\n\"Title: \" + ($json.title || \"-\") + \"\\n\\n\" +\n\"Platform: \" + ($json.platform || \"-\") + \"\\n\\n\" +\n\"Ide: \" + ($json.ide || \"-\")\n}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        112
      ],
      "id": "7e98dbc2-c855-4bff-9e97-56604068a679",
      "name": "Send a text message",
      "webhookId": "d6ecf428-90d2-4e6a-904a-29923e1094e3",
      "credentials": {
        "telegramApi": {
          "id": "7F3QHpvmxcywTZss",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.cnbcindonesia.com/market/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2d6aafca-8aa5-4e52-93de-4488d3901c04",
      "name": "CNBC Indonesia RSS"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        240
      ],
      "id": "7ae48d50-490a-4e3d-bc98-5d0003ea8fd1",
      "name": "Finance Detik RSS"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        112
      ],
      "id": "7f649041-40ce-4416-90b6-8672d2e8f60c",
      "name": "Menggabungkan 2 Output RSS"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        112
      ],
      "id": "360580bf-1625-4dd7-bada-1c7ad52c6481",
      "name": "Membatasai hanya 10"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        112
      ],
      "id": "f5fa9099-e9ce-4c8e-9c82-8b3ffc1dc7a3",
      "name": "Unduh halaman web dari setiap URL"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        832,
        112
      ],
      "id": "57b592c8-8339-4e98-87c1-27771d51a5b1",
      "name": "Clean kode HTML dan Ekstrak"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        112
      ],
      "id": "557cec1a-34ca-44bd-b839-a3fd2835dc4d",
      "name": "Menggabungkan menjadi 1 blok teks besar"
    },
    {
      "parameters": {
        "model": "x-ai/grok-3-mini-beta",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1200,
        272
      ],
      "id": "c802bb21-1001-49dc-ab8a-dc79b34929fa",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "XSsfojxM0UboPES4",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        1136
      ],
      "id": "4b069cd3-7d86-4ae4-b3f1-95e9bb40d9b7",
      "name": "Membatasi hanya 10"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        1136
      ],
      "id": "da8160c3-8d79-46e4-8ba2-83366c01f5ca",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "https://www.cnbcindonesia.com/market/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        1008
      ],
      "id": "e2c7815e-9a76-44f0-96da-351b906ae1bd",
      "name": "CNBC Indonesia RSS1"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        1248
      ],
      "id": "3e30174e-8cdd-4792-b2a3-fce4ce1dbdba",
      "name": "Finance Detik RSS1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        1136
      ],
      "id": "053c9ffc-b488-435a-9d06-c29fc43c902b",
      "name": "Menggabungkan 2 Output RSS1"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        848,
        1136
      ],
      "id": "1ebe4e81-72ec-45d7-b6dd-09bbf6a40310",
      "name": "Unduh halaman web dari setiap URL1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1072,
        1136
      ],
      "id": "8dd0660c-808c-4cc5-b1c7-7f4abcb41187",
      "name": "Clean kode HTML dan Ekstrak1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        1136
      ],
      "id": "bd0f5508-878f-4425-9319-d857841357db",
      "name": "Menggabungkan menjadi 1 blok teks besar1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Ringkaslah 10 artikel berikut menjadi 5 poin berita keuangan utama yang paling relevan untuk pagi ini. Gunakan bahasa Indonesia yang profesional.\n\nKonteks: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1472,
        1136
      ],
      "id": "a23b3002-fe2f-42f3-881c-b0a98e1f7088",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1472,
        1296
      ],
      "id": "30e17223-03c1-4e1e-9028-ff2fb772456e",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "XSsfojxM0UboPES4",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6694078886",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1776,
        1136
      ],
      "id": "39f0e92b-150e-4c5c-9df7-fc7ff1a69c80",
      "name": "Send a text message1",
      "webhookId": "f779527e-8a03-4262-9043-a33c38f5bbf2",
      "credentials": {
        "telegramApi": {
          "id": "7F3QHpvmxcywTZss",
          "name": "Telegram account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CNBC Indonesia RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finance Detik RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CNBC Indonesia RSS": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Detik RSS": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Menggabungkan 2 Output RSS": {
      "main": [
        [
          {
            "node": "Membatasai hanya 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membatasai hanya 10": {
      "main": [
        [
          {
            "node": "Unduh halaman web dari setiap URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unduh halaman web dari setiap URL": {
      "main": [
        [
          {
            "node": "Clean kode HTML dan Ekstrak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean kode HTML dan Ekstrak": {
      "main": [
        [
          {
            "node": "Menggabungkan menjadi 1 blok teks besar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menggabungkan menjadi 1 blok teks besar": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Membatasi hanya 10": {
      "main": [
        [
          {
            "node": "Unduh halaman web dari setiap URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "CNBC Indonesia RSS1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finance Detik RSS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CNBC Indonesia RSS1": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Detik RSS1": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Menggabungkan 2 Output RSS1": {
      "main": [
        [
          {
            "node": "Membatasi hanya 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unduh halaman web dari setiap URL1": {
      "main": [
        [
          {
            "node": "Clean kode HTML dan Ekstrak1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean kode HTML dan Ekstrak1": {
      "main": [
        [
          {
            "node": "Menggabungkan menjadi 1 blok teks besar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menggabungkan menjadi 1 blok teks besar1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a4be83f0-96dc-4cff-8ba1-96ce9f58f2c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8029a7adbdc0dbd60336a80f6905c6c6343c6a279cd22aaad11890dcf0bf2ab"
  },
  "id": "3W8teIBzck8z6Azm",
  "tags": []
}