Tugas 7 Implementasi.json
{
  "name": "Tugas 7 Implementasi",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1456,
        512
      ],
      "id": "062563f9-b68a-4efe-8b35-41d7cdeb2269",
      "name": "Telegram Trigger",
      "webhookId": "107e8775-405a-4925-9a6f-51eb21289aa4",
      "credentials": {
        "telegramApi": {
          "id": "7F3QHpvmxcywTZss",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=6694078886",
        "text": "Systia sedang memproses request anda. harap tunggu sebentar.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1232,
        736
      ],
      "id": "330a92ec-b62b-473c-adf2-639fcd1136b4",
      "name": "Respon Cepat",
      "webhookId": "3d3d9374-3ef3-4ea6-a10f-77e11c366680",
      "credentials": {
        "telegramApi": {
          "id": "7F3QHpvmxcywTZss",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "95503e69-026f-4a81-a643-2062b6474a6a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "080db788-bb50-462f-b292-df82d993379f",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "title",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "87e9a6ce-9f28-4171-b346-aeb218f66fa2",
                    "leftValue": "={{ $json.message.caption }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1104,
        496
      ],
      "id": "c88cbbdd-079c-4c33-8f8b-c996502f4549",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f91ffd64-a98b-4dbc-8f4b-2d7c39da3c10",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -848,
        352
      ],
      "id": "18a00ec7-cd5a-4565-97cd-86048535a9eb",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Harap ketik /start untuk memulai",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -576,
        128
      ],
      "id": "3d4a3060-e3e2-4709-9592-349151cd70e8",
      "name": "Format Salah (False)",
      "webhookId": "0810c582-f2e4-4bfa-9d67-913d365ed7dc",
      "credentials": {
        "telegramApi": {
          "id": "7F3QHpvmxcywTZss",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4eda3d2-0070-41a7-80cd-275611633075",
              "name": "tanggal",
              "value": "={{ $today }}",
              "type": "string"
            },
            {
              "id": "c9307642-09c9-4b93-b26b-da5622231419",
              "name": "tema",
              "value": "Teknologi & Produktivitas",
              "type": "string"
            },
            {
              "id": "a7791ef3-b6a2-4cc0-a20b-d55a98d8e230",
              "name": "waktu",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        336
      ],
      "id": "99e752af-f358-4e32-aa70-f3c85b5d2e76",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Buat rencana konten harian untuk {{ $json.tanggal }} dengan tema  {{ $json.tema }} \n\nSaya mau Anda buatnya dalam bentuk nomor atau point.\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -272,
        336
      ],
      "id": "8d2d936c-a9f3-4f6d-8b35-baeb9af48b13",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -272,
        192
      ],
      "id": "1dd1570d-309d-4096-bb4b-e41f5b979e1b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EZ97Gqe4WnGpRSik",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"time_slot\": \"\",\n    \"title\": \"\",\n    \"platforms\": [],\n    \"focus\": \"\",\n    \"ideas\": []\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -128,
        192
      ],
      "id": "dc8cb2d5-e61c-41cd-94b4-8e712e0b9fa6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        256
      ],
      "id": "e822f5c8-07bc-4e4f-8e0f-fe202c004cf1",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "6694078886",
        "text": "=Title: {{ $json.title }}\n\nPlatform: {{ $json.platform }}\n\nIde: {{ $json.ide }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        288
      ],
      "id": "0cdecf5c-1684-40dc-986b-d82e9af2cce2",
      "name": "Kirim Ide Ke Tim",
      "webhookId": "8533df86-65fd-443a-8310-15240af8d1f5",
      "credentials": {
        "telegramApi": {
          "id": "7F3QHpvmxcywTZss",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92ba26c3-8a53-4669-94c0-2237b71a1ae5",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "4121ab94-a2e5-435c-92d0-65af6e880eed",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "81203f4b-8dde-40d4-acd0-56f30bee5d08",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "id": "ed681942-1596-4b96-b36d-5eb502c78d4d",
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "id": "81789df5-0ffc-4dab-822f-5419a0f2d298",
              "name": "ide",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -144
      ],
      "id": "98cb57f0-ee08-4e53-a244-2a4cbf181885",
      "name": "Output1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc38cd3f-8123-4fe5-8763-afb07bb4ac75",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "472d0e20-ad89-40ce-af89-046f8196ba77",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "68bee437-3e23-41b8-8340-1e5ae366fd0f",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "id": "26271c0d-f70a-4066-8d82-c3e9a160dcf8",
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "id": "76e97134-79a9-450c-99d3-d8c6946a454a",
              "name": "ide",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        16
      ],
      "id": "672f51e0-fa6e-45d6-a347-c5de7e48b860",
      "name": "Output2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab0ffd5d-9cb4-4de8-bdee-8c2842dfda38",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "c96341f0-de7d-4ced-966d-a0330c5a3d83",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "5594f258-eaae-413f-a017-546abd016f15",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "id": "63d8c931-08e0-49c0-a62d-ed244e2a3a16",
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "id": "84a1fbed-e775-4473-9b94-49d0f53bf558",
              "name": "ide",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        176
      ],
      "id": "09984254-b2f2-4671-b649-b96f367314d8",
      "name": "Output3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f175dc2e-0de4-44d3-a3b9-fb575c8fe2e1",
              "name": "time_slot",
              "value": "={{ $json.output[0].time_slot }}",
              "type": "string"
            },
            {
              "id": "0faa5390-5712-4404-8dd5-623c153aad85",
              "name": "title",
              "value": "={{ $json.output[0].title }}",
              "type": "string"
            },
            {
              "id": "37ddfbe9-dace-4272-ae66-527221a44df6",
              "name": "platform",
              "value": "={{ $json.output[0].platforms }}",
              "type": "string"
            },
            {
              "id": "9b125818-5dfe-476d-ae5d-bf47af7b9dc1",
              "name": "focus",
              "value": "={{ $json.output[0].focus }}",
              "type": "string"
            },
            {
              "id": "89684c14-ca7b-4e23-9004-921f04397be5",
              "name": "ide",
              "value": "={{ $json.output[0].ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        336
      ],
      "id": "cac00ab3-ae62-4374-8dd6-a0c614841dea",
      "name": "Output4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -656,
        688
      ],
      "id": "c1f65584-ae94-4fe0-9a0f-37e5f9fab070",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "EZ97Gqe4WnGpRSik",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document?.file_id || $json.message.photo?.reverse()[0]?.file_id || $json.message.video?.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -848,
        816
      ],
      "id": "bc0d5c95-bde4-482c-be55-4a8e8e7cdc3e",
      "name": "Get a file",
      "webhookId": "131cc823-3621-4392-8f72-fe1e37780088",
      "credentials": {
        "telegramApi": {
          "id": "7F3QHpvmxcywTZss",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Analyze the image and generate a detailed, cinematic video prompt suitable for Google gemini-2.5. Include:\n- Subject and action (e.g., \"a cat jumping on a sofa\")\n- Setting and background\n- Time of day, lighting, mood\n- Camera movement (e.g., slow zoom, tracking shot)\n- Visual style (e.g., photorealistic, cartoon, cinematic)\n\nKeep it concise (1–2 sentences). Output ONLY the prompt text, no explanation.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -640,
        816
      ],
      "id": "fbd1a9e7-4b2b-4577-b070-471ea6212129",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "EZ97Gqe4WnGpRSik",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 19d6b5b8020febc9531b8bf19c41ea2b"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"task_id\": \"task_grok_12345678\",\n    \"image_urls\": [\n      \"https://www.image2url.com/r2/default/images/1777124945415-f20a6171-0eee-4979-bf25-a3a5ac9ec863.jpg\"\n    ],\n    \"prompt\": \"{{ $json.content.parts[0].text }}\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"480p\",\n    \"aspect_ratio\": \"16:9\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        816
      ],
      "id": "b0f05d72-1730-4f9b-a5d4-3cba7f545361",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -208,
        816
      ],
      "id": "a45417c1-eaff-4353-9cfc-8500bd1e2bdd",
      "name": "Wait2",
      "webhookId": "bfb0a5d9-ff5a-4b1d-a37b-6c9d0ebceeb2"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 19d6b5b8020febc9531b8bf19c41ea2b"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        816
      ],
      "id": "43bdcdb4-3db1-4209-80cd-8fb5ab95afcb",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "jsCode": "// Ambil datanya dengan aman\nconst rawData = $json.data?.resultJson;\n\n// 1. Cek apakah data ada dan tipenya string (JSON)\nif (!rawData || typeof rawData !== 'string' || rawData.trim() === \"\") {\n  // Kalau kosong, balikin array kosong supaya n8n berhenti dengan sopan (bukan error)\n  // Atau balikin null supaya lo tau ini belum siap\n  return []; \n}\n\ntry {\n  // 2. Coba parse JSON\n  const result = JSON.parse(rawData);\n  \n  // 3. Ambil URL video/gambar\n  const url = result.resultUrls?.[0];\n\n  if (!url) return [];\n\n  return [{\n    videoUrl: url\n  }];\n} catch (e) {\n  // 4. Kalau format JSON rusak, jangan bikin workflow merah\n  console.error(\"JSON Error:\", e.message);\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        816
      ],
      "id": "7a9a358e-8ea3-4988-aa73-507486fa8b97",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        816
      ],
      "id": "34371425-f687-4191-a30e-b266d21f00a2",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "name": "Hasil Video",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1fuHE0GZK6JSPs6rOUQ7oZ_0FRJ3-JTty",
          "mode": "list",
          "cachedResultName": "trigger tugas 7 ai pemasaran",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fuHE0GZK6JSPs6rOUQ7oZ_0FRJ3-JTty"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        816
      ],
      "id": "5fcd7bf0-6b05-411b-8a2d-860a5f849e78",
      "name": "Upload file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Tv8MLiOyC5qsmOsm",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4eda3d2-0070-41a7-80cd-275611633075",
              "name": "tanggal",
              "value": "={{ $today }}",
              "type": "string"
            },
            {
              "id": "c9307642-09c9-4b93-b26b-da5622231419",
              "name": "tema",
              "value": "Teknologi & Produktivitas",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        512
      ],
      "id": "8c687bba-945c-42b9-8414-4c5f2f3d89e4",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Buat rencana konten harian untuk {{ $json.tanggal }} dengan tema {{ $json.tema }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -656,
        512
      ],
      "id": "0d019afd-8252-427e-8f4d-84ccef3c99ce",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc9ea6c5-626c-475b-be5b-796d9578cc68",
              "name": "judul_pilihan",
              "value": "={{ $json.output[0].title || $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        512
      ],
      "id": "deeb670b-dabf-418a-93bb-e496457f6d5a",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 19d6b5b8020febc9531b8bf19c41ea2b"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/text-to-image\",\n  \"input\": {\n    \"prompt\": \"{{ $json.judul_pilihan }}\",\n    \"aspect_ratio\": \"3:2\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        512
      ],
      "id": "ea5f7d3a-e714-4a75-a885-2b618f1696aa",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        112,
        512
      ],
      "id": "d3dc5520-cd65-42ab-b287-97b11cc6b5d1",
      "name": "Wait1",
      "webhookId": "e67c9ecc-ab31-4bee-ba61-7866666f8535"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $node[\"HTTP Request3\"].json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 19d6b5b8020febc9531b8bf19c41ea2b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        512
      ],
      "id": "def3cec4-f17c-4152-a799-d2e461cd2d7f",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "const rawData = $json.data?.resultJson;\nif (!rawData) return [{ img1: null }];\n\ntry {\n  const result = JSON.parse(rawData);\n  const urls = result.resultUrls || [];\n  return [{ \n    img1: urls[0] || null, \n    img2: urls[1] || null, \n    img3: urls[2] || null, \n    img4: urls[3] || null \n  }];\n} catch (e) {\n  return [{ error: \"JSON format invalid\" }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        512
      ],
      "id": "721e3bfd-3eb6-41d7-b768-0c5b8c0ab0f3",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const urls = [$json.img1, $json.img2, $json.img3, $json.img4].filter(u => u && u.startsWith('http'));\nreturn urls.map(url => ({ json: { url } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        512
      ],
      "id": "e5e0c977-ff4b-4385-881f-6302a1de1cb9",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        512
      ],
      "id": "5b389a68-d8a9-4eb3-a02c-0f38988fa037",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "6694078886",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        512
      ],
      "id": "f06284cc-594b-4ce0-88d3-fc7fdb6cd850",
      "name": "Send a photo message1",
      "webhookId": "ebd2b234-8169-4318-9b43-6281e18e76d7",
      "credentials": {
        "telegramApi": {
          "id": "7F3QHpvmxcywTZss",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"time_slot\": \"\",\n    \"title\": \"\",\n    \"platforms\": [],\n    \"focus\": \"\",\n    \"ideas\": []\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -512,
        688
      ],
      "id": "08f2c599-c423-498b-8883-ffb3cc71c513",
      "name": "Structured Output Parser1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Respon Cepat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Salah (False)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Output1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Output4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Kirim Ide Ke Tim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Output3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Output4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Send a photo message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5764300d-f59a-47a7-a155-504fd1b583a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8029a7adbdc0dbd60336a80f6905c6c6343c6a279cd22aaad11890dcf0bf2ab"
  },
  "id": "ZmwT7TjadgwdGrmF",
  "tags": []
}